/** for active page **/
button.paging.active {
    background-color: darkred;
}

/** for table **/
table {
    width: 100%;
    border: 1px solid #333333;
    border-collapse: collapse;
}

thead > tr {
    background-color: #569ff7;
}

th, td {
    border: 1px solid #333333;
    padding: 10px;
}

tbody > tr:nth-child(odd) {
    background-color: #eeeeee;
}

tbody > tr.selected {
    background-color: moccasin;
}

tbody > tr:hover {
    background-color: cornsilk;
}